@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f0f0f;
  color: #fafafa;
}

h2 {
  font-weight: 600;
  font-size: 74px;
  line-height: 60px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
}

.blurred-bg {
  backdrop-filter: blur(35px);
}

.custom-hr {
  height: 1px;
  width: 100%;
  background: linear-gradient(270deg, rgb(15, 15, 15) 0%, rgb(250, 250, 250) 37.5%, rgb(15, 15, 15) 100%);
  opacity: 0.4;
  margin: 20px 0;
}

.header {
  position: fixed;
  z-index: 25;
  width: 100%;
  transition: 0.3s;
}
.header__inner {
  display: flex;
  align-items: center;
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__left {
  display: flex;
  gap: 100px;
  align-items: center;
}
.city-selection {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  padding: 9px 14px 7px 17px;
}
.city-selection:hover {
  border: 1px solid #adff2f;
}
.city-selection__location {
  display: flex;
  gap: 4px;
  align-items: center;
}
.city-selection__location-img img {
  height: 16px;
  aspect-ratio: 1;
  filter: invert(80%) sepia(96%) saturate(400%) hue-rotate(25deg) brightness(101%) contrast(101%);
}
.city-selection__city {
  font-size: 12px;
  font-weight: bold;
  color: #fafafa;
}
.city-selection__arrow img {
  filter: invert(53%) sepia(1%) saturate(2351%) hue-rotate(314deg) brightness(95%) contrast(78%);
}

.navigation {
  display: flex;
  gap: 55px;
  align-items: center;
}
.navigation__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid transparent;
}
.navigation__btn:hover {
  border: 1px solid #adff2f;
}
.navigation__btn-img {
  height: 22px;
  aspect-ratio: 1;
  filter: invert(100%) sepia(36%) saturate(2%) hue-rotate(317deg) brightness(108%) contrast(96%);
}

.menu {
  display: flex;
  gap: 40px;
}
.menu__item {
  font-weight: bold;
  color: #fafafa;
}

.slider {
  height: 100vh;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.impressions__gallery {
  margin: 40px 0 80px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.gallery__item {
  width: 1fr;
  height: 1fr;
  object-fit: cover;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.gallery__image:hover {
  transform: scale(1.05);
}

.footer__navigation {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 70px 0;
}
.footer__payment-socials {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin: 60px 0 70px;
}
.footer__partners {
  margin: 60px 0 70px;
}
.footer__copyright {
  margin: 40px 0 50px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer-column__title {
  color: #777;
}
.footer-column__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0;
  padding: 0;
}
.footer-column__list-item {
  max-width: 220px;
}
.payment-systems {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.payment-systems__title {
  text-transform: lowercase;
  color: #777777;
  font-weight: 500;
}
.payment-systems__list {
  display: flex;
  gap: 10px 20px;
  align-items: center;
}
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-socials__title {
  text-transform: lowercase;
  color: #777777;
  font-weight: 500;
}
.footer-socials__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-socials__link {
  height: 42px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.partners__title {
  text-transform: lowercase;
  color: #777777;
  font-weight: 500;
}
.partners__list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright__text {
  font-weight: 400;
  font-size: 14px;
}
.copyright__links {
  display: flex;
  gap: 40px;
  font-size: 14px;
  font-weight: 200;
  color: lightseagreen;
}
.copyright__links a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
