@import "global"
@import "mixins"
@import "colors"

.container
  padding: 0 20px
  width: 100%
  margin: 0 auto
  max-width: 1240px

.blurred-bg
  backdrop-filter: blur(35px)

.custom-hr
  height: 1px
  width: 100%
  background: linear-gradient(270deg, rgb(15, 15, 15) 0%, rgb(250, 250, 250) 37.5%, rgb(15, 15, 15) 100%)
  opacity: .4
  margin: 20px 0

.header
  position: fixed
  z-index: 25
  width: 100%
  transition: 0.3s
  +display-flex(center, default)


  &__inner
    height: 100px
    +display-flex(center, default)

.navbar
  +display-flex(default, space-between)

  &__left
    +display-flex(center, default)
    gap: 100px

  &__logo
    &_link

    &_img
      user-select: none

  &__city-selection

  &__right

  &__navigation

.city-selection
  +display-flex(center, default)
  gap: 8px
  border: 1px solid $grey
  border-radius: 10px
  height: 40px
  padding: 9px 14px 7px 17px

  &:hover
    border: 1px solid $grey

  &__location
    +display-flex(center, default)
    gap: 4px

  &__location-img
    img
      height: 16px
      aspect-ratio: 1
      filter: invert(80%) sepia(96%) saturate(400%) hue-rotate(25deg) brightness(101%) contrast(101%)

  &__city
    font-size: 12px
    font-weight: bold
    color: $white
    user-select: none

  &__arrow
    img
      filter: invert(53%) sepia(1%) saturate(2351%) hue-rotate(314deg) brightness(95%) contrast(78%)

.navigation
  +display-flex(center, default)
  gap: 55px

  &__menu

  &__buttons
    +display-flex(center, default)
    gap: 10px

  &__btn
    +display-flex(center, center)
    padding: 6px
    border-radius: 50%
    border: 1px solid transparent

    &:hover
      border: 1px solid $lime

  &__btn-img
    height: 22px
    aspect-ratio: 1
    user-select: none
    filter: invert(100%) sepia(36%) saturate(2%) hue-rotate(317deg) brightness(108%) contrast(96%)

.menu
  display: flex
  gap: 40px

  &__item
    font-weight: bold
    color: $white


.playbill
  &__inner
    margin-top: 50px
    & .custom-hr
      margin-top: 0

  &__title
    margin-bottom: 20px

  &__header
    +display-flex(start, space-between)

  &__sort-buttons
    display: flex
    gap: 20px
    user-select: none
    align-items: baseline


  &__devidor
    height: 10px
    aspect-ratio: 1
    border: 1px solid $grey
    border-radius: 50%


  &__sort-btn
    font-size: 24px
    color: $light-grey
    padding-bottom: 20px
    transition: .2s ease-out
    cursor: pointer
    border-bottom: 3px solid $transparent
    &:hover
      color: $white


    &_active
      color: $white
      border-bottom: 3px solid $lime


  &__btn
    display: flex
    gap: 8px
    padding: 4px 4px 4px 8px
    transition: 0.3s
    cursor: pointer
    border-radius: 8px
    &:hover
      background-color: $dark-grey
      border-radius: 24px

  &__btn-title
    font-size: 16px
    line-height: 22px

  &__btn-icon
    background-color: $lime
    border-radius: 50%
    width: 24px
    aspect-ratio: 1
    +display-flex(center, center)
    & img
      width: 18px
      transform: rotate(180deg)




.news
  &__title

.news
  margin-bottom: 50px

  &__header
    margin-top: 50px
    +display-flex(center, space-between)

  &__title

  &__btn
    display: flex
    gap: 8px
    padding: 4px 4px 4px 8px
    transition: .3s
    cursor: pointer
    border-radius: 8px

    &:hover
      background-color: $dark-grey
      border-radius: 24px

  &__btn-title
    font-size: 16px
    line-height: 22px

  &__btn-icon
    background-color: $lime
    border-radius: 50%
    width: 24px
    aspect-ratio: 1
    +display-flex(center, center)

    & img
      width: 18px
      transform: rotate(180deg)

  &__slider
    margin-top: 40px

  &__nav-btns
    margin-top: 20px
    width: 100%
    +display-flex(center, end)
    gap: 20px
    user-select: none

  &__nav-btn:disabled
    opacity: .5

    &:hover
      background-color: transparent

  &__nav-btn
    +display-flex(center, center)
    height: 50px
    width: 50px
    background-color: $transparent
    border: 1px solid $light-grey
    border-radius: 50%
    transition: .3s

    &:hover
      background-color: $dark-grey

    & img
      height: 18px
      aspect-ratio: 1
      filter: invert(49%) sepia(0%) saturate(17%) hue-rotate(238deg) brightness(95%) contrast(87%)

    &_left

    &_right
      & img
        transform: rotate(180deg)

.news-slider
  &__container
    width: 100%
  //display: flex

  &__slide

.news-card
  border: 1px solid $dark-grey
  border-radius: 12px
  border-collapse: collapse
  display: flex
  gap: 10px
  //max-width: 560px

  &__top
    position: relative

  &__content
    width: 560px
    height: 350px
    border-radius: 12px
    overflow: hidden
    position: relative

  &__content-link
    position: absolute
    height: 100%
    width: 100%
    background-color: red

    &:hover
      opacity: 100%

  &__content-fade
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, transparent 20%, transparent 100%)

  &__content-image
    width: 100%
    height: 100%
    object-fit: cover

  &__tag
    position: absolute
    z-index: 5
    top: 10px
    right: 10px
    display: inline
    padding: 4px 8px
    background-color: $orange
    border: 1px solid $light-orange
    border-radius: 0 8px 0 8px
    user-select: none

  &__date
    position: absolute
    z-index: 5
    bottom: 10px
    left: 10px
    display: flex
    gap: 8px
    opacity: .8

  &__date-icon
    user-select: none
    padding-right: 1px

  &__date-time
    font-size: 18px
    user-select: none


  &__bottom
    position: relative
    padding: 20px

  &__title
    margin: 0 0 10px
    min-height: 70px
    max-height: 70px
    padding: 3px 0
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 100%
    color: $white
    overflow: clip
    text-overflow: ellipsis
    user-select: none

  &__desc
    margin: 0 0 20px
    min-height: 80px
    max-height: 80px
    user-select: none
    overflow: hidden
    text-overflow: ellipsis
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: 120%
    color: $light-grey

  &__btn-wrapper
    position: absolute
    bottom: 20px
    right: 20px
    +display-flex(center, end)

  &__btn
    display: flex
    gap: 8px
    padding: 4px 4px 4px 8px
    transition: 0.3s
    cursor: pointer
    border-radius: 8px

    &:hover
      background-color: $dark-grey
      border-radius: 24px

  &__btn-title
    font-size: 16px
    line-height: 22px

  &__btn-icon
    background-color: $lime
    border-radius: 50%
    width: 24px
    aspect-ratio: 1
    +display-flex(default, center)

    & img
      width: 18px
      //background-color: #20B2AA
      transform: rotate(180deg)

.impressions
  &__inner

  &__title

  &__gallery
    margin: 40px 0 80px 0

.gallery
  display: grid
  grid-template-columns: repeat(5, 1fr)

  &__item
    width: 1fr
    height: 1fr
    object-fit: cover
    transition: 0.3s
    overflow: hidden
    position: relative

  &__item-link
    &:hover
      opacity: 100%

  &__image
    width: 100%
    height: 100%
    object-fit: cover
    transition: transform 0.3s ease

    &:hover
      transform: scale(1.05)

.footer
  &__inner

  &__navigation
    +display-flex(default, space-between)
    gap: 20px
    margin: 70px 0

  &__column

  &__payment-socials
    +display-flex(default, space-between)
    gap: 40px
    margin: 60px 0 70px

  &__payment-systems

  &__socials

  &__partners
    margin: 60px 0 70px


  &__copyright
    margin: 40px 0 50px

.footer-column
  display: flex
  flex-direction: column
  gap: 40px
  font-weight: bold
  font-size: 16px
  line-height: 20px

  &__title
    color: $light-grey

  &__list
    display: flex
    flex-direction: column
    gap: 28px
    margin: 0
    padding: 0

  &__list-item
    max-width: 220px

  &__link

.payment-systems
  display: flex
  flex-direction: column
  gap: 40px

  &__title
    text-transform: lowercase
    color: $light-grey
    font-weight: 500

  &__list
    display: flex
    gap: 10px 20px
    align-items: center

  &__item

.footer-socials
  display: flex
  flex-direction: column
  gap: 40px

  &__title
    text-transform: lowercase
    color: $light-grey
    font-weight: 500

  &__list
    +display-flex(center, default)
    gap: 20px

  &__item

  &__link
    height: 42px
    aspect-ratio: 1
    +display-flex(center, center)

.partners
  display: flex
  flex-direction: column
  gap: 40px

  &__title
    text-transform: lowercase
    color: $light-grey
    font-weight: 500

  &__list
    +display-flex(center, default)
    gap: 20px


  &__item

.copyright
  +display-flex(center, space-between)

  &__logo
    user-select: none

  &__text
    font-weight: 400
    font-size: 14px

    &_year

  &__links
    display: flex
    gap: 40px
    font-size: 14px
    font-weight: 200
    color: lightseagreen

    & a:hover
      text-decoration: underline
